<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.milkorder_backend.mapper.ClaMapper">

    <select id="getClaList" resultType="com.example.milkorder_backend.model.entity.Cla">
        select * from cla
    </select>

    <select id="getClaByName" resultType="com.example.milkorder_backend.model.entity.Cla">
        select *
        from cla
        where name = #{cla}
    </select>


</mapper>