<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.milkorder_backend.mapper.DrinkImageMapper">

    <select id="getImage" resultType="com.example.milkorder_backend.model.entity.DrinkImage">
        select * from drink_image where url = #{url} ;
    </select>

    <select id="getAllImages" resultType="com.example.milkorder_backend.model.entity.DrinkImage">
        select * from drink_image where drink_name = #{drinkname} ;
    </select>

</mapper>