<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.milkorder_backend.mapper.DrinkTagMapper">

    <select id="getRelationByTwo" resultType="com.example.milkorder_backend.model.entity.DrinkTag">
        select *
        from drink_tag
        where drink_id = #{drinkId} &amp; tag_id = #{tagId} ;
    </select>

    <select id="getTagsOfDrink" resultType="com.example.milkorder_backend.model.entity.DrinkTag">
        select *
        from drink_tag
        where drink_id = #{drinkId} ;
    </select>


</mapper>