<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.milkorder_backend.mapper.OrderMapper">


    <select id="getNoFinishedOrderOfStore" resultType="com.example.milkorder_backend.model.entity.Order">
        select *
        from drink_order
        where is_finish = false and store = #{store} ;
    </select>

    <select id="getOrderListOfUser" resultType="com.example.milkorder_backend.model.entity.Order">
        select *
        from drink_order
        where username = #{username} ;
    </select>

</mapper>